In [29]:
#변수 선언
a=10
b="test"

##변수 출력
print(a)
print(type(a))

print(b)
print(type(b))

10
<class 'int'>
test
<class 'str'>

In [30]:
a='test2'
print(a)

test2

In [31]:
## 불형 데이터 
## 참과 거짓의 형태
a = True
print(type(a))

<class 'bool'>

In [32]:
b = (100>10)
c = (100<10)
d = (100==100)
print(b, c, d)

True False True

In [33]:
## 산술 연산자 
## 기본적인 사칙연산 
a= 7
b = 3

print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

10 4 21 2.3333333333333335 2 1 343

In [34]:
c = 2
print(a+b*c)
print((a+b)*c)

13
20

In [35]:
## 대입연산자
a += 5 # a = a+5
print(a)

12

### 조건문 
- if문

In [36]:
a = 11

if a < 10:
    print("a는 10보다 작다")

In [37]:
## if ~ else 
a = 20 

if a < 10:
    print("a는 10보다 작다")
else: 
    print("a는 10보다 크거나 같다")

a는 10보다 크거나 같다

In [40]:
## if ~ elif ~ else문 
score = int(input("점수를 입력하세요 :"))
print(score)
print(type(score))
if score >= 90 :
    print("A")
elif score >= 80 : 
    print("B") 
elif score >= 70:
    print("C")
else :
    print("F") 

print("프로그램 종료")

88
<class 'int'>
B
프로그램 종료

In [ ]:
## 반복문 
## for ans 
for i in range(0, 10, 1):
    print("%d 번째 반복" %i)

0 번째 반복
1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [ ]:
for i in range(10): 
    print( "%d 번째 반복" %i)

0 번째 반복
1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [ ]:
## 1부터 10까지의 합계
## for문

##합계 변수 생성
sum = 0

for a in range(1,11,1): 
    sum += a
    # sum = sum + a

print(sum)

55

In [ ]:
## 다중 for문
## 구구단

for i in range(2, 10, 1): 
    print(str(i)+"단")
    for j in range(1, 10, 1):
        # print(%d X %d = %d"%(i, j, i*j)) 
        print(str(i) + "X" + str(j) + "=" + str(i*j))

2단
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
3단
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
4단
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
5단
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
6단
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
7단
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
8단
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
9단
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81

In [44]:
##for문
## 1부터 100까지의 숫자중에 짝수의 합계 
##hint: 1부터 100까지의 반복 
## if 조건식을 사용해서 짝수인 경우에만 +

## 합계 변수 생성

sum = 0
## 반복문 형성

for  i in range(1,101,1): 
    if i%2 == 0: 
        sum += i
    
print(sum)

2550

In [46]:
## 다중 for문 
## 2개의 주사위를 돌려서 두 주사위의 합이 5가 되는 주사위의 값
for i in range(1, 7, 1):
    for j in range(1, 7, 1):
        if i + j == 5:
            print(i,j)

1 4
2 3
3 2
4 1

In [47]:
## while문 

## 초기값 지정 
i = 0 
##while문 시작 
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [49]:
## break문 
for i in range (1, 101, 1):
    print("%d 번째 반복"%i)
    if i == 5: 
        break

1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복

In [50]:
## 1부터 100까지 합계를 구하는중 
##합계가 500이 넘어가는 숫자와 합계의 값 

sum = 0 

for i in range(1, 101, 1): 
    sum += i 
    if sum >= 500 :
        break
print('합계가 500 이상이 되는 범위의 숫자', i, '합계는', sum)

합계가 500 이상이 되는 범위의 숫자 32 합계는 528

In [52]:
## 1부터 100까지 합계를 구하는중 
##합계가 500이 넘어가는 숫자와 합계의 값 
sum = 0
i = 1 
##while문 시작 
while i <= 100:
    sum += i
    print(i)
    if sum >= 500 :
        break
    i += 1 
print('합계가 500 이상이 되는 범위의 숫자', i, '합계는', sum)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
합계가 500 이상이 되는 범위의 숫자 32 합계는 528

In [53]:
## continue문
for i in range(1, 10, 1): 
    if i <= 3:
        continue
    print("%d번째 반복"%i)

4번째 반복
5번째 반복
6번째 반복
7번째 반복
8번째 반복
9번째 반복

In [54]:
## 1부터 100까지의 짝수의 합계 
sum = 0

for i in range(1, 101, 1): 
    if i % 2 ==1: 
        continue
    I
    sum += i
    
print(sum)

2550

In [55]:
### 튜플 
a = (1, 'Hello')
b = (3, 3.14)
c = a + b
d = a * 3
e = a[1]

print(a, b, c, d, e)

(1, 'Hello') (3, 3.14) (1, 'Hello', 3, 3.14) (1, 'Hello', 1, 'Hello', 1, 'Hello') Hello

In [56]:
## 숫자 1만 출력하고 싶으면?
print(a[0])

1

In [57]:
a = (10, 20, 30, 40)
print( a[1:3])

(20, 30)

In [59]:
## 30, 40을 출력하려면?
print(a[2:])

(30, 40)

In [60]:
## list 형태 데이터 
a = [20, 10, 50, 5]
b = [10, 20, 30, 40]

In [61]:
## sort()-> 오름 차순 정렬로 변경 
a. sort()
print(a)

[5, 10, 20, 50]

In [62]:
## reverse()-> 역순으로 정렬을 변경
b.reverse()
print(b)

[40, 30, 20, 10]

In [63]:
##append()-> 리스트의 마지막에 항목 추가 
a. append(22)
print(a)

[5, 10, 20, 50, 22]

In [64]:
## 리스트의 특징 
a = []
print(a)
a.append(10)
print(a)

[]
[10]

In [75]:
## 1부터 70까지 숫자들중에 3의 배수를 리스트로 만들어서 출력하시오 
## 비어있는 리스트 생성
l=[]
## 1부터 70까지 반복 
for i in range(1, 71,1):
    if i % 3 ==0:
        l.append(i)
## 3의 배수 조건식 

print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [74]:
for i in [5,7,10]:
    print(i)

5
7
10

In [79]:
sum = 0
for i in l:
    sum += i 
print(sum)

828

In [80]:
### 딕셔너리 
## 사전형 데이터 
## {key1 : value1, key2 : value2, ...}
dict ={
    "name" : "test",
    "age" : 20,
    "phone" : "01012345678"
}

In [81]:
print(dict["name"])

test

In [82]:
## 새로운 key: value를 대입 
dict['area'] = "seoul"

In [83]:
print(dict)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'seoul'}

In [94]:
## Database에서 데이터를 받아올 때 데이터의 형태 
## [ {}, {}, {}]
test_data = [
    {
        "name": "test1", 
        "age": 20
    },
    {
        "name": "test2",
        "age" : 30
    },
    {
        "name": "test3",
        "age" : 40
    }
]

In [98]:
print(test_data[0])

{'name': 'test1', 'age': 20}

In [99]:
print(test_data[0]['name'])

test1

In [101]:
## test_data에서 name의 값들만 리스트의 형태로 출력 
name_list=[]
for name in test_data:
    name_list.append(name["name"])
print(name_list)

['test1', 'test2', 'test3']

In [107]:
name_list= []
for i in range(0, len(test_data), 1):
    name_list.append(test_data[i]['name'])

print(name_list)

['test1', 'test2', 'test3']

In [109]:
## 문자열 내장함수

## 대문자, 소문자 변환
## upper(), lower()
text = "Hello World"
print(text.upper())
print(text.lower())

HELLO WORLD
hello world

In [110]:
text = "   Hello World   "
print(text)

   Hello World

In [111]:
## 공백 제거 함수
## strip(): 양쪽의 공백 제거 
##lstrip(): 왼족의 공백을 제거 
##rstrip(): 오른족의 공백을 제거 
print(text.lstrip())
print(text.rstrip())
print(text.strip())

Hello World
   Hello World
Hello World

In [112]:
## replace()
## 선택한 문자열을 변경
## 공백을 제거하는데도 사용 가능 
text. replace(" ","")

'HelloWorld'

In [113]:
text. replace("Hello","Hi")

'   Hi World   '

In [114]:
##split()
## 기준이 되는 문자열이나 , . /와 같은 특수 문자열을 기준으로 문자열을 나눠주는 역할 
a = "a, b, c, d, e"
print(a)

a, b, c, d, e

In [116]:
a.split(",")

['a', ' b', ' c', ' d', ' e']

In [117]:
## 함수 
def func_1():
    return "Hello World"

In [118]:
print(func_1())
print(func_1())
print(func_1())

Hello World
Hello World
Hello World

In [119]:
## 매개변수가 존재하는 함수 생성
def func_2(x,y):
    result = x+y
    return result

In [120]:
print(func_2(5,3))
print(func_2(1,3))
print(func_2(10,4))

8
4
14

In [123]:
### 매개변수의 기본값을 정의
def func_3(x,y=3):
    result = x+y
    return result

print(func_3(5,1))
print(func_3(3))

6
6

In [126]:
def func_4(x,y):
    result= x**y
    return result 

print(func_4(5,2))
print(func_4(y=5, x=2))

25
32

1. 함수를 하나 생성, 매개변수 2개(x,y)
2. 함수가 하는 행동( x부터y까지 의 합을 리턴)-for/while문 
3. x보다 y가 작은 경우에는 x부터 y까지의 합, 반대인 경우에는 y부터x까지의 합

In [134]:
def func_5(x,y):
    f_sum= 0
    for i in range(x,y+1,1): 
        f_sum+= i
    return f_sum
      
print(func_5(1,10))
print(func_5(10,1))

55
0

In [135]:
def func_6(x,y):
    f_sum= 0
    while x<=y: 
        f_sum += x
        x +=1
    return f_sum
      
print(func_6(1,10))

55

In [140]:
def func_7(x,y):
    f_sum=0
    ##x가 y보다 작은 경우
    if x < y :
        for i in range(x, y+1, 1): 
            f_sum +=i
    else:
        for i in range(y, x+1, 1):
            f_sum +=i
    return f_sum
print(func_7(1,10))
print(func_7(1,10))

55
55

In [142]:
def func_8(x,y):
    f_sum=0
    for i in range(min(x,y), max(x,y)+1,1):
        f_sum +=i
    return f_sum
print(func_8(1,10))
print(func_8(10,1))

55
55

1. 함수 생성(매걔 변수 3개 x,y,z)
2. z의 값이 '합' x+y리턴 
3. z의 값이 '차' x-y리턴 
4. z의 값이 둘다 아니면 '연산식이 잘못되었습니다' 리턴

In [146]:
def func_9(x,y,z):
    if z== "합":
        return x+y
    elif z =="차":
        return x-y
    else:
        return "연산식이 잘못되었습니다"
print(func_9(1,4,'합'))
print(func_9(1,4,'차'))
print(func_9(1,4,'곱'))

5
-3
연산식이 잘못되었습니다

In [150]:
def func_10(x,y,z):
    if z== "합":
        result = x+y
    elif z =="차":
        result = x-y
    else:
        result = "연산식이 잘못되었습니다"
    return result
print(func_10(1,4,'합'))
print(func_10(1,4,'차'))
print(func_10(1,4,'곱'))

5
-3
연산식이 잘못되었습니다

In [151]:
def func_11(x):
    result=x**2
    return result
l=[1,2,3,4]

result = []

for i in l :
    result.append(func_11(i))
print(result)

[1, 4, 9, 16]

In [157]:
##map 함수 
result_2 = list(map(func_11,l))
print(result_2)

[1, 4, 9, 16]

In [153]:
##람다 함수 
lamb = lambda x: x**2
print(lamb(4))

16

In [158]:
list(map(lamb, l))

[1, 4, 9, 16]